name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.12"
      
      - name: Install dependencies
        run: | 
          python3 -m pip install --upgrade pip
          pip install -r src/requirements.txt
      
      - name: Run tests
        run: pytest -q 